/*
!/.gitignore
!/README.md

# etc配下は再起動のたびに変化するものとセキュリティ関連と関係がないものを除外
!/etc/
/etc/ModemManager/
/etc/NetworkManager/
/etc/PackageKit/
/etc/X11/
/etc/adduser.conf
/etc/alternatives/
/etc/apport/
/etc/bash.bashrc
/etc/bash_completion*
/etc/bindresvport.blacklist
/etc/binfmt.d/
/etc/byobu/
/etc/ca-certificates/
/etc/ca-certificates.conf
/etc/cloud/
/etc/console-setup/
/etc/cryptsetup-initramfs/
/etc/crypttab
/etc/dbus-1/
/etc/debconf.conf
/etc/debian_version
/etc/deluser.conf
/etc/depmod.d/
/etc/dhcp/
/etc/e2scrub.conf
/etc/ec2_version
/etc/ethertypes
/etc/flash-kernel/
/etc/fstab
/etc/fuse.conf
/etc/fwupd/
/etc/gai.conf
/etc/groff/
/etc/grub.d/
/etc/gshadow*
/etc/gss/
/etc/hdparm.conf
/etc/host.conf
/etc/hostname
/etc/hosts.*
/etc/initramfs/
/etc/initramfs-tools/
/etc/inputrc
/etc/iscsi/
/etc/issue*
/etc/kernel/
/etc/kernel-img.conf
/etc/landscape/
/etc/ld.so.*
/etc/ldap/
/etc/legal
/etc/libaudit.conf
/etc/libblockdev/
/etc/libnl-3/
/etc/locale.alias
/etc/locale.gen
/etc/localtime
/etc/logcheck/
/etc/login.defs
/etc/logrotate*
/etc/lsb-release
/etc/lvm/
/etc/machine-id
/etc/magic
/etc/magic.mime
/etc/manpath.config
/etc/mdadm/
/etc/mime.types
/etc/mke2fs.conf
/etc/modprobe.d/
/etc/modules*
/etc/mtab
/etc/multipath/
/etc/multipath.conf
/etc/mysql/debian.cnf
/etc/nanorc
/etc/needrestart/
/etc/netconfig
/etc/netplan/
/etc/network/
/etc/networkd-dispatcher/
/etc/networks
/etc/newt/
/etc/nftables.conf
/etc/nsswitch.conf
/etc/os-release
/etc/overlayroot.conf
/etc/overlayroot.local.conf
/etc/pam.conf
/etc/pam.d/
/etc/passwd-
/etc/perl/
/etc/pki/
/etc/pm/
/etc/polkit-1/
/etc/pollinate/
/etc/profile*
/etc/protocols
/etc/python*
/etc/rc*.d/
/etc/resolv.conf
/etc/rmt
/etc/rpc
/etc/rsyslog*
/etc/screenrc
/etc/shadow*
/etc/shells
/etc/skel/
/etc/sos/
/etc/ssl/
/etc/sub?id*
/etc/sudo.conf
/etc/sudo_logsrvd.conf
/etc/sudoers*
/etc/systemd/system/snap*
/etc/systemd/system/*wants
/etc/terminfo/
/etc/timezone
/etc/ubuntu-advantage/
/etc/ucf.conf
/etc/udev/
/etc/udisks2/
/etc/ufw/
/etc/update-*
/etc/usb_modeswitch*
/etc/vim/
/etc/vmware-tools/
/etc/vtrgb
/etc/wgetrc
/etc/xattr.conf
/etc/xdg/
/etc/zsh_command_not_found
/etc/.*

!/home/
/home/*
!/home/isucon/
/home/isucon/go/
/home/isucon/local/
/home/isucon/pprof/
/home/isucon/initial_data/
/home/isucon/tmp/
/home/isucon/webapp/sql/admin/
/home/isucon/webapp/tenant_db/
/home/isucon/webapp/go/isuports
/home/isucon/.*

!/result/

# vim関連
*~
*.sw[op]
