[Unit]
Description=isucon12 qualify webapp
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
StartLimitBurst=999
Type=simple
User=isucon
Group=isucon
WorkingDirectory=/home/isucon/webapp/go
Environment=ISUCON_DB_HOST=192.168.0.12
Environment=ISUCON_DB_PORT=3306
Environment=ISUCON_DB_USER=isucon
Environment=ISUCON_DB_PASSWORD=isucon
Environment=ISUCON_DB_NAME=isuports
ExecStart=/home/isucon/webapp/go/isuports
Restart=always
